@import url("./fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    font-weight: 400;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(227, 248, 255);
    color: #222;
    text-align: justify;
}

img,
video,
svg {
    width: 100%;
    object-fit: cover;
}

h1,
h2,
h3 {
    color: rgb(93, 235, 168);
    text-shadow: -2px -2px 0 #333, 2px -2px 0 #333, -2px 2px 0 #333,
        2px 2px 0 #333;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 1.8rem;
    line-height: 1.2;
}

h2 {
    font-size: 1.25rem;
}

p {
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

a:hover,
button:hover {
    color: rgb(67, 122, 97);
}

ul {
    list-style: none;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: lightblue;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.tarjetas {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.tarjetas a {
}

.tarjeta {
    padding: 1rem;
    background-color: lightblue;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.verif {
    width: 1.5rem;
    height: 1.5rem;
}

.imagen {
    background-size: cover;
    width: 15rem;
    height: 10rem;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

dialog[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    border: 3px solid darkolivegreen;
}

dialog .btn-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    color: darkred;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

dialog form > * {
    padding: 0.75rem;
    border: 1px solid darkolivegreen;
    border-radius: 0.5rem;
    width: auto;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: lightblue;
    font-size: 0.9rem;
}

@media screen and (min-width: 700px) {
    :root {
        font-size: 20px;
    }

    header,
    footer {
        flex-direction: row;
    }
}

/* -- Estilos de Home -- */
.form-busq button {
    width: 100%;
}

@media screen and (min-width: 700px) {
    .form-busq button {
        width: fit-content;
    }
}

/* -- Estilos del carrito -- */

.btns-prod-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.btns-prod-cart > * {
    text-shadow: -2px -2px 0 #6e866e, 2px -2px 0 #6e866e, -2px 2px 0 #6e866e,
        2px 2px 0 #6e866e;
}

.btn-sumar {
    color: lightgreen;
}

.btn-restar {
    color: lightcoral;
}

/* -- Estilos del login y el registro -- */

.form-session {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.form-session > * {
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: 100%;
}
