@import url("./fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    font-weight: 400;
    --gradiente-fondo: linear-gradient(
        to bottom left,
        rgb(227, 248, 255) 0%,
        rgb(227, 248, 255) 30%,
        rgb(168, 223, 241) 50%,
        rgb(227, 248, 255) 70%,
        rgb(227, 248, 255) 100%
    );
}

body {
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gradiente-fondo);
    color: #222;
    text-align: justify;
}

img,
video,
svg {
    width: 100%;
    object-fit: cover;
}

h1,
h2,
h3 {
    color: rgb(113, 230, 175);
    text-shadow: -1.5px -1.5px 0 darkslategrey, 1.5px -1.5px 0 darkslategrey,
        -1.5px 1.5px 0 darkslategrey, 1.5px 1.5px 0 darkslategrey;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

h1 {
    /* font-size: 1.8rem;
    line-height: 1.2; */
    position: absolute;
    margin: -1px;
    height: 0;
    width: 0;
    overflow: hidden;
}

h2 {
    font-size: 1.25rem;
}

p {
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

a:hover,
button:hover {
    color: rgb(67, 122, 97);
}

ul {
    list-style: none;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: lightblue;
}

.logo {
    max-width: 100px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.tarjetas {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.tarjetas a {
}

.tarjeta {
    padding: 1rem;
    background-color: rgba(173, 216, 230, 0.25);
    border: 1px solid white;
    box-shadow: 0 0 15px white inset;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

.imagen {
    background-size: cover;
    background-position: center;
    width: 15rem;
    height: 10rem;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

dialog[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    border: 3px solid darkolivegreen;
}

dialog .btn-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    color: darkred;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

dialog form > * {
    padding: 0.75rem;
    border: 1px solid darkolivegreen;
    border-radius: 0.5rem;
    width: auto;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: lightblue;
    font-size: 0.8rem;
}

@media screen and (min-width: 700px) {
    :root {
        font-size: 20px;
    }

    header,
    footer {
        flex-direction: row;
    }

    header {
        gap: 1rem;
        justify-content: space-around;
    }

    .logo {
        max-width: 200px;
    }

    .tarjetas {
        gap: 4rem;
        padding: 3rem;
    }
}

/* -- Estilos de Home -- */
.form-busq {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
}

.form-busq button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -- Estilos del carrito -- */
.btn-borrar {
    cursor: pointer;
    margin: auto 0 auto auto;
}

.btn-borrar .bin-open {
    display: none;
}

.btn-borrar:hover .bin-closed {
    display: none;
}

.btn-borrar:hover .bin-open {
    display: inline;
}

.btns-prod-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.btns-prod-cart > * {
    text-shadow: -2px -2px 0 #6e866e, 2px -2px 0 #6e866e, -2px 2px 0 #6e866e,
        2px 2px 0 #6e866e;
}

.btn-sumar {
    color: lightgreen;
}

.btn-restar {
    color: lightcoral;
}

/* -- Estilos del login y el registro -- */
.form-session {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.form-session > * {
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: 100%;
}
