@import url("./fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    font-weight: 400;
    --color-principal: rgb(227, 248, 255);
    --color-principal-oscuro: lightblue;
    --color-secundario: rgb(113, 230, 175);
    --color-secundario-oscuro: rgb(67, 122, 97);
    --color-texto: rgb(40, 68, 55);
    --color-sombras: darkslategrey;
    --gradiente-fondo: linear-gradient(
        to bottom left,
        var(--color-principal) 0%,
        var(--color-principal) 30%,
        rgb(168, 223, 241) 50%,
        var(--color-principal) 70%,
        var(--color-principal) 100%
    );
}

body {
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gradiente-fondo);
    color: var(--color-texto);
    text-align: justify;
}

img,
video,
svg {
    width: 100%;
    object-fit: cover;
}

h1,
h2,
h3 {
    color: var(--color-secundario);
    text-shadow: -1px -1px 0 var(--color-sombras),
        1px -1px 0 var(--color-sombras), -1px 1px 0 var(--color-sombras),
        1px 1px 0 var(--color-sombras);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

h1 {
    /* font-size: 1.8rem;
    line-height: 1.2; */
    position: absolute;
    margin: -1px;
    height: 0;
    width: 0;
    overflow: hidden;
}

h2 {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

a:hover,
button:hover,
.edicion-img .file-label:hover {
    color: var(--color-secundario-oscuro);
}

ul {
    list-style: none;
}

select {
    background: var(--color-principal);
}

input,
select {
    border-radius: 0.5rem;
    font: inherit;
    color: inherit;
}

input:focus,
select:focus,
textarea:focus {
    background: var(--color-principal);
    outline-color: var(--color-secundario-oscuro);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--color-principal-oscuro);
    border-bottom: 1px solid white;
    z-index: 1;
}

.logo {
    max-width: 150px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    gap: 1rem;
}

.main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.tarjetas {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
    grid-auto-rows: 1fr;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.tarjeta {
    padding: 1.5rem;
    background-color: rgba(173, 216, 230, 0.25);
    border: 1px solid white;
    box-shadow: 0 0 15px white inset;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

.tarjeta-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
}

.precio-tarjeta,
.precio-total {
    font-weight: 600;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

.imagen {
    background-size: cover;
    background-position: center;
    width: 15rem;
    height: 10rem;
    border: 2px solid white;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px var(--color-sombras) inset;
}

.btn-modal,
.btn-add-carrito,
.btn-vaciar,
.btn-comprar,
.btn-verif {
    background: var(--color-principal);
    border: 1px solid var(--color-secundario-oscuro);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.btn-modal:hover,
.form-session button:hover,
.btn-verif:hover,
.btn-add-carrito:hover,
.btn-vaciar:hover,
.btn-comprar:hover,
dialog
    form
    button:not([form="formCleanImgTienda"]):not(
        [form="formCleanImgProd"]
    ):hover {
    font-weight: 600;
    border-width: 2px;
    animation: pulse;
    -webkit-animation: pulse;
    -moz-animation: pulse;
    -o-animation: pulse;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

dialog[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    border: 3px solid var(--color-secundario-oscuro);
    line-height: 1.6;
    font-weight: 400;
}

dialog[open]:not(#popupAviso) {
    justify-content: center;
}

dialog .btn-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    color: darkred;
    font-weight: 700;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

dialog form > * {
    padding: 0.5rem;
    border: 1px solid var(--color-secundario-oscuro);
    border-radius: 0.5rem;
    width: auto;
}

dialog form button {
    background: var(--color-principal);
}

dialog form button:hover {
    outline-color: var(--color-secundario-oscuro);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-principal-oscuro);
    border-top: 1px solid white;
    font-size: 0.8rem;
}

@media screen and (min-width: 700px) {
    :root {
        font-size: 20px;
    }

    header,
    footer {
        flex-direction: row;
    }

    header {
        gap: 1rem;
        justify-content: space-around;
    }

    .logo {
        max-width: 175px;
    }

    .tarjetas {
        gap: 4rem;
        padding: 3rem;
    }

    .imagen-principal {
        width: 22.5rem;
        height: 15rem;
    }
}

/* -- Estilos de Home -- */
.form-busq {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.form-busq button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -- Estilos de listado productos -- */
.btn-mas {
    width: 100%;
    font-size: 8rem;
    color: var(--color-secundario);
    text-shadow: -1px -1px 0 var(--color-sombras),
        1px -1px 0 var(--color-sombras), -1px 1px 0 var(--color-sombras),
        1px 1px 0 var(--color-sombras);
    text-align: center;
    font-weight: 600;
    background: none;
    border: none;
}

.edicion-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.edicion-img .file-label {
    display: inline-block;
    cursor: pointer;
}

.edicion-img input {
    display: none;
}

.edicion-img .imagen {
    width: 7.5rem;
    height: 5rem;
}

.edicion-img button {
    background: none;
}

/* -- Estilos del carrito -- */
.btn-borrar {
    cursor: pointer;
    align-self: flex-end;
}

.btn-borrar .bin-open {
    display: none;
}

.btn-borrar:hover .bin-closed {
    display: none;
}

.btn-borrar:hover .bin-open {
    display: inline;
}

.btns-prod-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.btn-sumar {
    color: lightgreen;
    text-shadow: -2px -2px 0 var(--color-secundario-oscuro),
        2px -2px 0 var(--color-secundario-oscuro),
        -2px 2px 0 var(--color-secundario-oscuro),
        2px 2px 0 var(--color-secundario-oscuro);
}

.btn-restar {
    color: lightcoral;
    text-shadow: -2px -2px 0 var(--color-secundario-oscuro),
        2px -2px 0 var(--color-secundario-oscuro),
        -2px 2px 0 var(--color-secundario-oscuro),
        2px 2px 0 var(--color-secundario-oscuro);
}

.form-comprar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.sin-prod {
    font-weight: 600;
}

/* -- Estilos del login y el registro -- */
.form-session {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.form-session > * {
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

.form-session > *:not(label) {
    border: 1px solid var(--color-secundario-oscuro);
}

.form-session button {
    background: var(--color-principal);
}

.form-session button:hover {
    outline-color: var(--color-secundario-oscuro);
}

.btn-login {
    margin-top: 2rem;
}
